.alert{
    border-radius: 2px;
    padding: .8em 1em;
    margin: 1em auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-success{
    background-color: #b4d153;
}

.alert-danger{
    background-color: #F16165;
}

.alert-warning{
    background-color: #feb83e;
}

.alert-info{
    background-color: #6bd1ff;
}

.alert-icon{
    height: 1.5em;
    width: 1.5em;
    fill: #fff;
    margin-right: 1em;
    margin-left: 1em;
}

.alert-msg{
    display: inherit;
    align-items: inherit;
    color: #fff;
    line-height: 1.3;
    margin: 0;
    box-sizing: border-box;
}

.alert-msg a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.alert-msg a:hover{
    text-decoration: underline;
}

.close{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.alert-input{
    display: none;
}

.alert-input:checked + .alert {
    display: none;
}