.banner {
    font-family: 'Source Sans Pro';
    background: #a1b0c0;
    margin-bottom: 25px;
}

#banner-title {
    display: inline-block;
    font-size: 1.4em;
    padding: 1em 0;
    letter-spacing: -1.2px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff
}
