.btn-mp {
    font: inherit;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    color: #fff;    
    margin: 7px;
    padding: 15px 20px 15px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 1;
    width: 130px;
    cursor: pointer;
    background-color: transparent;
}

.btn-mp:hover {
    box-shadow: 0 4px 10px 0 rgba(23,23,23,.1);
    position:  relative;
    top: 1px;
}

.btn-mp:active {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    position:  relative;
    top: 0px;
}

.btn-mp-default {
    background-color: #f8f9fa;
    color:  rgba(23,23,23,.6);
}

.btn-mp-success {
    /* background-color: #1bd59a; */
    background-color: #b4d153;
}

.btn-mp-danger {
    background-color: #F16165;
}

.btn-mp-warning {
    background-color: #feb83e;
}

.btn-mp-info {
    background-color: #6bd1ff;
}

/* linear-gradient(to left,#45a6ff,#5daeff) */

/* 
------------------------------------------------------------------
----------------------- BTN OUTLINE ------------------------------
------------------------------------------------------------------ 
*/

.btn-mp-outline-default {
    color: rgba(23,23,23,.6);
    border: 2px solid rgba(23,23,23,.5);
}

.btn-mp-outline-default:hover {
    border: 2px solid #f8f9fa;
    background-color: #f8f9fa;
    color: rgba(23,23,23,.6);
}

.btn-mp-outline-success {
    color: #b4d153;
    border: 2px solid #b4d153;
}

.btn-mp-outline-success:hover {
    background-color: #b4d153;
    color: #fff;
}

.btn-mp-outline-danger {
    color: #F16165;
    border: 2px solid #F16165;
}

.btn-mp-outline-danger:hover {
    background-color: #F16165;
    color: #fff;
}

.btn-mp-outline-warning {
    color: #feb83e;
    border: 2px solid #feb83e;
}

.btn-mp-outline-warning:hover {
    background-color: #feb83e;
    color: #fff;
}

.btn-mp-outline-info {
    color: #6bd1ff;
    border: 2px solid #6bd1ff;
}

.btn-mp-outline-info:hover {
    background-color: #6bd1ff;
    color: #fff;
}
