* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

 /* container  */
.container {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 1200px;
}

/* linha  */
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}


/* coluna  */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;    
}


@media (min-width: 480px){
    .col-2, 
    .col-4 {
        width: 50%;
    }
}

@media (min-width: 728px){
    .col-3 {
        width: 33.3333%;
    }
}

@media (min-width: 1170px){
    .col-4{
        width: 25%;
    }
}

.teste{
    background: #f5d5fe;
    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}

.big {
    height: 50px;
}