.header-data-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.search {
  border: solid 1px #C3C3C3;
  border-radius: 10px;
  /* display: flex; */
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px 10px;
  
}

.search:before{
  content: '';
  display: inline-block;
  background-size: 20px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 15px;
  background: no-repeat center;
}

.search-link:before{
  background-image: url('../img/lupa.svg');
}

.search input[type=text]{
  border: none;
  margin-right: 20px;
  outline: none;
  width: 200px;
}

.header-data-table select {
  color: #747c81;
  font-family: "Source Sans Pro";
  margin: 5px 0px 15px 0;
  padding: 7px;
  width: 59px;
  border: solid 1.5px #e3e9ec;
  border-radius: 10px;
  background-color: #fbfeff;
  height: 2.5em;
  align-items: center;
}

.table {
  margin: 6px 0 6px;
  border-left: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  clear: both;
  max-width: none;
  border-collapse: separate;
  width: 100%;
  background-color: transparent;
  border-spacing: 0;
  display: table;
}

tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
} 

th {
  /* width: ; */
  /* border-top: 0; somente para o primiero tr*/
  padding: 8px 30px 8px 8px;
  border-bottom: 2px solid #f4f4f4;
  /* line-height: 2em; */
  text-align: left;
  border: 1px solid #f4f4f4;
  border-left-width: 0;
  font-weight: 600;
}

th>input, td>input {
  margin-right: 20px;
}

td {
  display: table-cell;
  
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #f4f4f4;
  border-left-width: 0;
  border-bottom-width: 0;
}

.header-data-table svg{
  height: 30px;
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.header-data-table>div{
  display: flex;
  align-items: center;
}

.header-data-table input[type="checkbox"]{
  display: none;
}

#select-all, #delete-select-all{
  display: none;
}

.header-data-table input[type="checkbox"]:checked ~ #select-all, 
.header-data-table input[type="checkbox"]:checked ~ #delete-select-all{
  display: inline-block;
}

.header-data-table input[type="checkbox"]:checked ~ #select-menu{
  transform: translateY(-20%) translateX(12%) rotate(90deg);
}

.pagination {
  display: flex;
  padding-left: 0;
  border-radius: 4px;
}

.pagination>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a {
  margin-right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.pagination>li>a{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}



.pagination>li>a:focus, 
.pagination>li>a:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

